# This is Git's per-user configuration file.
[user]
# Please adapt and uncomment the following lines:
	name = yu.fan
	email = yu.fan@smartx.com

[core]
    pager = delta

[interactive]
    diffFilter = delta --color-only

[delta]
    navigate = true    # use n and N to move between diff sections

    # delta detects terminal colors automatically; set one of these to disable auto-detection
    # dark = true
    # light = true
	side-by-side = true
	line-numbers = true

[merge]
    conflictstyle = diff3

[diff]
    colorMoved = default
[alias]
	co = checkout
    st = status
    cm = commit --amend
    ci = commit
    br = branch
    ri = rebase -i
    rc = rebase --continue
    sn = show --name-only
    lc = log --color=always --oneline --decorate --pretty=format:'%C(yellow)%h%Creset %C(green)%s%Creset - %C(blue)%an%Creset %C(cyan)(%ad)%Creset %C(magenta)%D%Creset' --date=format:'%Y-%m-%d %H:%M:%S'
[http]
	postBuffer = 157286400
